[Match]
Name=batbridge

[Link]
MACAddress=<%= @macvendor %>:<%= @rndmac %>:7d:<%= @supernodenum.to_s.rjust(2, "0") %>

[Network]
Address=<%= @ipv4_net %>.<%= @ipv4_subnet_start %>.<%= @ipv4_suffix %>/16
Address=<%= @ipv6_rnet %>::1/64
