[Unit]
Description=Setup fastd stuff
After=systemd-networkd.service
Requires=systemd-networkd.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/sbin/ip rule add fwmark 0x1 table main priority 32763
ExecStart=/sbin/ip rule add from <%= @ipv4_net %>.0.0/16 table ffffm priority 32764
ExecStart=/sbin/ip -6 rule add from <%= @ipv6_rnet_prefix %>:/<%= @ipv6_rnet_mask %> table ffffm priority 32763
ExecStart=/sbin/ip -6 rule add from <%= @ipv6_net %>::/64 table ffffm priority 32764
ExecStart=/sbin/ip route add <%= @ipv4_net %>.0.0/16 dev batbridge table ffffm
ExecStart=/sbin/ip route add 10.0.0.0/8 via 10.126.255.11 dev batbridge table ffffm
ExecStart=/sbin/ip -6 route add <%= @ipv6_rnet_prefix %>:/<%= @ipv6_rnet_mask %> dev batbridge table ffffm
ExecStart=/sbin/ip -6 route add <%= @ipv6_net %>::/64 dev batbridge table ffffm
ExecReload=/bin/true
ExecStop=/sbin/ip rule del pref 16383
ExecStop=/sbin/ip rule del pref 16384
ExecStop=/sbin/ip -6 rule del pref 16383
ExecStop=/sbin/ip -6 rule del pref 16384
ExecStop=/sbin/ip route del <%= @ipv4_net %>.0.0/16 dev batbridge table ffffm
ExecStop=/sbin/ip route del 10.0.0.0/8 via 10.126.255.11 dev batbridge table ffffm
ExecStop=/sbin/ip -6 route del <%= @ipv6_rnet_prefix %>:/<%= @ipv6_rnet_mask %> dev batbridge table ffffm
ExecStop=/sbin/ip -6 route del <%= @ipv6_net %>::/64 dev batbridge table ffffm

[Install]
WantedBy=multi-user.target
