[Unit]
Description=Apply FWBuilder configuratoin
Before=network.target

[Service]
Type=oneshot
ExecStart=/etc/fw/script start
ExecReload=/etc/fw/script reload
RemainAfterExit=yes

[Install]
WantedBy=basic.target
