[Unit]
Description=Fastd %i instance
PartOf=fastd.service
ReloadPropagatedFrom=fastd.service
Wants=fastd-setup.service
After=fastd-setup.service

[Service]
Type=forking
PIDFile=/run/fastd.%i.pid
ExecStart=/usr/bin/fastd --daemon --pid-file /run/fastd.%i.pid --syslog-level info --config /etc/fastd/%i/fastd.conf
ExecReload=/bin/kill -SIGHUP $MAINPID

[Install]
WantedBy=multi-user.target
