[Unit]
Description=Apply FWBuilder configuration
DefaultDependencies=false
Before=network-pre.target
After=local-fs.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/etc/fw/script start
ExecReload=/etc/fw/script reload
RemainAfterExit=yes
TimeoutSec=2min
SyslogFacilitiy=fwbuilder

[Install]
WantedBy=network.target
