[Unit]
Description=Apply FWBuilder configuration
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/etc/fw/script start
ExecReload=/etc/fw/script reload
RemainAfterExit=yes
TimeoutSec=2min

[Install]
WantedBy=network.target
