[Unit]
Description=Populate directexit ipsets
Requires=setup-ipsets.service
After=setup-ipsets.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=<%= @update_directexit %>

[Install]
WantedBy=multi-user.target
